.__bar {    
    height: 22px;
    padding: 2px;
    border-radius: 0;
    color: #fff !important;
    background: #fff;//#131e26;
    background-image: linear-gradient(-179deg, #69b1e5 0, #3485d0 100%);
    font-size: 13px;
}

.__circle {
    font-size: 5px;
    margin: 0 5px;
    position: relative;
    top: -3px;
    opacity: .4;
}